{% extends 'AppBundle::layout.html.twig' %}

{% block content -%}
    <h1>Categorie list</h1>

    <a href="{{ path('categorie_new') }}" class="entry">
        <img src="{{asset('bundles/app/image/0050-folder-plus.png')}}"> Nouvelle entrée
    </a>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Voir</th>
                <th>Editer</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('categorie_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nom }}</td>
                <td>
                    <a href="{{ path('categorie_show', { 'id': entity.id }) }}"><img src="{{asset('bundles/app/image/0135-search.png')}}"></a>
                </td>
                <td>
                    <a href="{{ path('categorie_edit', { 'id': entity.id }) }}"><img src="{{asset('bundles/app/image/0006-pencil.png')}}"></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
